In [74]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
import time
import warnings
warnings.filterwarnings('ignore')

In [75]:
# Let first connect the web driver
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

# Question.1

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(3)

In [4]:
# Scrapping Names of the video
Name = []
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('No details available')
    
time.sleep(2)

# Scrapping Rank of the video
Rank = []
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        Rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
    
time.sleep(2)

# Scrapping Artist of the video
Artist = []
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('No details available')
    
time.sleep(2)

# Scrapping Views of the video
Views = []
try:
    views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('No details available')
    
time.sleep(2)

# Scrapping upload_date of the video
Upload_date = []
try:
    upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('No details available')
    
time.sleep(2)

In [5]:
# Preparing DataFrame
Videos = pd.DataFrame({'Rank' : Rank, 'Name' : Name, 'Artist' : Artist, 'Views(in billion)' : Views, 'Date of upload' : Upload_date})

In [6]:
Videos

,Rank,Name,Artist,Views(in billion),Date of upload
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.95,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.90,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.39,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.76,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.57,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.51,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.72,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.63,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.59,"February 27, 2018"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.50,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.48,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.20,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.98,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.72,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.61,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.61,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.56,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.47,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.42,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.31,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.31,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.30,"February 20, 2014"
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,3.29,"June 25, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.26,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.23,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.23,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.20,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.19,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.19,"August 18, 2014"
29,30.,"""Mi Gente""[48]",J Balvin,3.10,"June 29, 2017"

# Question.2

In [3]:
url = ' https://www.bcci.tv/'
driver.get(url)

In [5]:
sidebar = driver.find_element_by_xpath("//button[@class='navbar-toggler menu-btn menu-icon collapsed']")
sidebar.click()

In [7]:
fixtures = driver.find_element_by_xpath("//a[@class='nav-link ']") #Locating to International Fixtures
driver.get(fixtures.get_attribute('href'))

In [8]:
#  Getting paths of title, place,time,date and series of match
title = []
try:
    match_title = driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in match_title:
        title.append(i.text.replace('/n',''))
except NoSuchElementException:
    title.append("-")
    
place = []
for j in driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]'):
    place.append(j.text.replace('/n',''))
time = []
for j in driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]'):
    time.append(j.text.replace('/n',''))
date = []
for j in driver.find_elements_by_xpath('//h5[@class="ng-binding"]'):
    date.append(j.text.replace('/n',''))
series = []
for k in driver.find_elements_by_xpath('//span[@class="ng-binding"]'):
    series.append(k.text.replace('/n',''))

In [9]:
len(title)

8

In [10]:
title

['1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st T20I -',
 '1st T20I -',
 '2nd T20I -',
 '2nd T20I -',
 '3rd T20I -']

In [11]:
df = pd.DataFrame({'Series' : series, 'Place' : place, 'Date' : date, 'Time' : time})
df

,Series,Place,Date,Time
0,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",22 JUL 2022,7:00 PM IST
1,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",24 JUL 2022,7:00 PM IST
2,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval,",27 JUL 2022,7:00 PM IST
3,COMMONWEALTH GAMES WOMENS CRICKET 2022,"Edgbaston,",29 JUL 2022,4:30 PM IST
4,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Brian Lara Stadium,",29 JUL 2022,8:00 PM IST
5,COMMONWEALTH GAMES WOMENS CRICKET 2022,"Edgbaston,",31 JUL 2022,4:30 PM IST
6,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park,",1 AUG 2022,8:00 PM IST
7,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park,",2 AUG 2022,8:00 PM IST

# Question.3

In [22]:
url = 'https://www.guru99.com/'
driver.get(url)

In [ ]:
#clicking on selenium option under testing menu open its tutorial
selenium_link=driver.find_element_by_xpath("//li[@id='menu-item-4622']/a")
try:
    selenium_link.click()
except:          #handling element not clickable exception
    driver.get(selenium_link.get_attribute('href'))
time.sleep(2)

#clicking on Selenium Exception Handling (Common Exceptions List) under Advance Webdriver Stuff!
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:      #handling element not clickable exception
    driver.get(exception_handle_link.get_attribute('href'))              
time.sleep(2)    
    
#scraping exceptions names
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:               #handling no such element exception
    name.append('No details available')
time.sleep(2)   

#scraping exceptions description
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    desc.append('No details available')
time.sleep(2)

In [ ]:
df = pd.DataFrame({'Exception Name' : name, 'Description' : desc})
df

# Question.5

In [38]:
url = 'https://github.com/'
driver.get(url)

In [39]:
# Getting explore button and clicking on it
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

# Selecting trending option
trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

# Creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

# Fetching urls for each repository
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

    
# Scraping Repository Title data
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

    
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)
    
 # Scraping Repository Description data
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
# Scraping Contributors Count data
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
            
# Scraping Languages used data
    try:
        for i in driver.find_elements_by_xpath("//div[@class='my-3']"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [40]:
df = pd.DataFrame({'Repository title' : repository_title, 'Repository description' : Description, 'Contribution Count' : Contributors, 'Language Used' : Language})
df

,Repository title,Repository description,Contribution Count,Language Used
0,logto-io / logto,"🧑‍🚀 Logto helps you build the sign-in, auth, a...",13,[react javascript identity oauth2 node typescr...
1,dair-ai / ML-Course-Notes,🎓 Sharing course notes on all topics related t...,2,[react javascript identity oauth2 node typescr...
2,loov / lensm,Go assembly and source viewer,3,[react javascript identity oauth2 node typescr...
3,Sairyss / domain-driven-hexagon,"Learn Domain-Driven Design, software architect...",12,[react javascript identity oauth2 node typescr...
4,rust-lang / rustlings,🦀 Small exercises to get you used to reading a...,247,[react javascript identity oauth2 node typescr...
5,discordjs / discord.js,A powerful JavaScript library for interacting ...,424,[react javascript identity oauth2 node typescr...
6,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,264,[react javascript identity oauth2 node typescr...
7,zbezj / HEU_KMS_Activator,-,-,[react javascript identity oauth2 node typescr...
8,algorithm-visualizer / algorithm-visualizer,🎆Interactive Online Platform that Visualizes A...,24,[react javascript identity oauth2 node typescr...
9,charlax / professional-programming,A collection of full-stack resources for progr...,23,[react javascript identity oauth2 node typescr...
10,freqtrade / freqtrade,"Free, open source crypto trading bot",225,[react javascript identity oauth2 node typescr...
11,vasanthk / how-web-works,What happens behind the scenes when we type ww...,6,[react javascript identity oauth2 node typescr...
12,kevwan / tproxy,A cli tool to proxy and analyze TCP connections.,6,[react javascript identity oauth2 node typescr...
13,TheAlgorithms / JavaScript,Algorithms and Data Structures implemented in ...,224,[react javascript identity oauth2 node typescr...
14,practical-tutorials / project-based-learning,Curated list of project-based tutorials,97,[react javascript identity oauth2 node typescr...
15,dominikbraun / graph,A generic library for creating graph data stru...,-,[react javascript identity oauth2 node typescr...
16,MasterBin-IIAU / Unicorn,[ECCV'22 Oral] Towards Grand Unification of Ob...,-,[react javascript identity oauth2 node typescr...
17,fossabot / typoraCracker,A patch and keygen tools for typora.,2,[react javascript identity oauth2 node typescr...
18,wailsapp / wails,Create beautiful applications using Go,101,[react javascript identity oauth2 node typescr...
19,huachaohuang / awesome-dbdev,Awesome materials about database development.,-,[react javascript identity oauth2 node typescr...
20,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,75,[react javascript identity oauth2 node typescr...
21,github / docs,The open-source repo for docs.github.com,"1,338",[react javascript identity oauth2 node typescr...
22,Hunlongyu / ZY-Player,▶️ 跨平台桌面端视频资源播放器.简洁无广告.免费高颜值. 🎞,9,[react javascript identity oauth2 node typescr...
23,terraform-aws-modules / terraform-aws-vpc,Terraform module which creates VPC resources o...,97,[react javascript identity oauth2 node typescr...
24,kraanzu / termtyper,A typing application to level up your fingers!,6,[react javascript identity oauth2 node typescr...

# Question 7

In [44]:
url = 'https://www.naukri.com/'
driver.get(url)

In [45]:
url = 'https://www.naukri.com/recruiters/'
driver.get(url)

In [46]:
#Sending DataScience in search bar
search_ = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_.send_keys("Data science")

In [47]:
btn = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
btn.click()
time.sleep(3)

In [48]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [49]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)

In [50]:
#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)

In [51]:
#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)

In [52]:
#Scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)

In [53]:
#Scraping data of locations
for i in driver.find_elements_by_xpath('//small[@class="ellipsis"]'):
    Location.append(i.text)
time.sleep(3)

In [55]:
df = pd.DataFrame({'Name' : Name[:10], 'Designation' : Designation[:10], 'Company' : Company[:10], 'Skills' : Skills[:10], 'Location' : Location[:10]})
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore

# Question.8

In [56]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [57]:
#finding details of books(title,author,vol,genre,publisher)
title = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]'):
    title.append(i.text.replace('/n',''))
author = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]'):
    author.append(i.text.replace('/n',''))
vol = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]'):
    vol.append(i.text.replace('/n',''))
genre = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]'):
    genre.append(i.text.replace('/n',''))
publisher = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]'):
    publisher.append(i.text.replace('/n',''))

In [58]:
df = pd.DataFrame({'Book Title' : title, 'Author' : author, 'Volume Sale' : vol, 'Publisher' : publisher, 'Genre' : genre})
df

,Book Title,Author,Volume Sale,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Questio  9

In [59]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [60]:
#fetched the required data by finding paths for individual columns(name,yr,genre,run time,rating,votes)
name_ = []
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a[1]'):
    name_.append(i.text.replace('/n',''))
yr = []
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]'):
    yr.append(i.text.replace('/n',''))
Genre = []
for i in driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]'):
    Genre.append(i.text.replace('/n',''))
rating = []
for i in driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]'):
    rating.append(i.text.replace('/n',''))
votes = []
for i in driver.find_elements_by_xpath('//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]'):
    votes.append(i.text.replace('/n',''))
rtime = []
for i in driver.find_elements_by_xpath('//div[@class="lister-item mode-detail"]/div[2]/p[1]/span[3]'):
    rtime.append(i.text.replace('/n',''))

In [61]:
df = pd.DataFrame({'Name' : name_, 'Year Span' : yr, 'Genre' : Genre, 'Ratings' : rating, 'Number of votes' : votes, 'Run time' : rtime})
df

,Name,Year Span,Genre,Ratings,Number of votes,Run time
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"2,010,702",57 min
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"1,094,116",51 min
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,"955,647",44 min
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"285,689",60 min
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"245,342",43 min
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,7.4,"49,113",42 min
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"59,902",50 min
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8.1,"192,362",42 min
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,"40,624",45 min
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"231,479",572 min

# Question.10

In [62]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [63]:
#Clicking on view all datasets link
datasets=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [64]:
#Creating empty lists for storing the data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [65]:
#Scrapping the data having dataset name
try:
    names = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [66]:
#Scrapping the data having data type
try:
    types = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')

In [67]:
#Scrapping the data having default task
try:
    task = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')

In [68]:
#Scrapping the data having attribute types
try:
    attribute = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
     Attribute.append('-')

In [69]:
#Scrapping the data having no of instances
try:
    instance = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')

In [70]:
#Scrapping the data having no of attributes
try:
    attribute_no = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')

In [71]:
#Scrapping the data having the year details
try:
    year = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [72]:
df = pd.DataFrame({"Name" : Name, "Data types" : Type, "Default Task" : Task, "Attribute types" : Attribute,  "No of instances" : No_of_Instance, "No of atrributes" : No_of_Attribute, "Year" : Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021