In [63]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nabeel\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: trio~=0.17 in c:\users\nabeel\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nabeel\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\nabeel\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in c:\users\nabeel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\nabeel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\nabeel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nabeel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\nabeel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\nabeel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\nabeel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\nabeel\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\nabeel\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nabeel\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\nabeel\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\nabeel\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\nabeel\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\nabeel\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nabeel\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [64]:
#Importing Necessary Library
import selenium
from selenium import webdriver
import pandas as pd
import time
from time import sleep
import warnings
warnings.filterwarnings("ignore")

In [65]:
# Let first connect the web driver
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

Question:1

In [66]:
url = 'https://www.naukri.com/'
driver.get(url)

In [67]:
#Finding web element for search job bar using id
search_job = driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search_job

In [68]:
#Write on search bar
search_job.send_keys('Data Analyst')

In [69]:
search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [70]:
#Clicking Search Button
search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div[1]/div[6]')
search_button.click()

In [71]:
#Extracting all the elements having job titles.
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [72]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
len(job_title)

20

In [73]:
#Extracting Company Names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [74]:
company_name = []

for i in company_tags:
    company_name.append(i.text)
    
len(company_name)

20

In [75]:
#Extracting Job Location
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [76]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

In [77]:
#Extracting Exp.
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [78]:
experience = []

for i in exp_tags:
    experience.append(i.text)
    
len(experience)

20

In [79]:
#Selecting first 10 jobs
job = job_title[:10]
company = company_name[:10]
locations = location[:10]
exp = experience[:10]

In [80]:
# Making DataFrame
Jobs = pd.DataFrame({'Job Title' : job, 'Company' : company, 'Experience' : exp, 'Location' : locations})
Jobs

,Job Title,Company,Experience,Location
0,Business Data Analyst,NXP Semiconductors,2-5 Yrs,Bangalore/Bengaluru
1,EY GDS Data Analyst-Finland based project,EY,0-1 Yrs,Bangalore/Bengaluru
2,Business & Data Analyst - Alteryx (London),Imaginative Brains LLP,5-10 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
3,"Data analyst / Data scientist, AVP",Deutsche Bank,6-11 Yrs,Bangalore/Bengaluru
4,"Data analyst / Data scientist, Associate",Deutsche Bank,5-8 Yrs,Bangalore/Bengaluru
5,Data Analyst - Data and Analytics,Intel,3-6 Yrs,Bangalore/Bengaluru
6,Senior Mis Data Analyst,Barbeque Nation,5-8 Yrs,"Bangalore/Bengaluru(Sarjapur), Delhi / NCR, Mu..."
7,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,Remote
8,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Walmart,4-7 Yrs,Bangalore/Bengaluru

Question: 2

In [81]:
url = 'https://www.naukri.com/'
driver.get(url)

In [82]:
#Finding element for job search
search_field_designation = driver.find_element_by_class_name("suggestor-input") #job search for
search_field_designation.send_keys("Data Scientist")

In [83]:
search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [84]:
#Clicking Search Button
search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div[1]/div[6]')
search_button.click()

In [85]:
#Extracting all the elements having job titles.
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [86]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
len(job_title)

20

In [87]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [88]:
company_name = []

for i in company_tags:
    company_name.append(i.text)
    
len(company_name)

20

In [89]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [90]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

In [91]:
# Selecting First 10 jobs
job = job_title[:10]
company = company_name[:10]
locations = location[:10]

In [92]:
# Making DataFrame
Dsjobs = pd.DataFrame({'Job Title' : job, 'Company' : company, 'Location' : locations})
Dsjobs

,Job Title,Company,Location
0,AI Technologist Vacancy,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
1,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,Senior Data Scientist,Walmart,Bangalore/Bengaluru
3,Senior Data Scientist,Walmart,Bangalore/Bengaluru
4,Data Scientist,Genpact,Bangalore/Bengaluru
5,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
6,Data Scientist - Immediate Joiners,Bristlecone,"Noida, Mumbai, Pune, Bangalore/Bengaluru"
7,Data Scientist- AI/ML- R&D,EXL,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
8,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
9,Data Scientist,UPL,"Mumbai, Bangalore/Bengaluru"

Question:-3

In [93]:
url = 'https://www.naukri.com/'
driver.get(url)

In [94]:
#Finding element for job search
search_field_designation = driver.find_element_by_class_name("suggestor-input") #job search for
search_field_designation.send_keys("Data Scientist")

In [95]:
#Clicking Search Button
search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div[1]/div[6]')
search_button.click()
time.sleep(3)

In [97]:
#Selecting Location Filter
locc = driver.find_element_by_xpath('//div[@class="mt-8 chckBoxCont"][3]')
locc.click()

In [98]:
#Selecting Salary Filter
sall = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[1]/label/i')
sall.click()

In [99]:
#Extracting all the elements having job titles.
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [100]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
len(job_title)

20

In [101]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [102]:
company_name = []

for i in company_tags:
    company_name.append(i.text)
    
len(company_name)

20

In [103]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [108]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

In [109]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [110]:
experience = []

for i in exp_tags:
    experience.append(i.text)
    
len(experience)

20

In [111]:
job = job_title[:10]
company = company_name[:10]
locations = location[:10]
exp = experience[:10]

In [112]:
DSJobs = pd.DataFrame({'Job Title' : job, 'Company' : company, 'Experience' : exp, 'Location' : locations})
DSJobs

,Job Title,Company,Experience,Location
0,Senior Software Developer ASP.Net,Porteck,3-6 Yrs,Noida(Sector-63 Noida)\n(WFH during Covid)
1,Software Developer Intern (Third Year and Fina...,Athmin Technologies Private Limited,0-0 Yrs,Noida(Sector-63 Noida)\n(WFH during Covid)
2,Software Developer - Fresher,Athmin Technologies Private Limited,0-0 Yrs,Noida(Sector-63 Noida)\n(WFH during Covid)
3,Python (Django / Odoo) Developer - Immediate C...,Flexsin Technologies Pvt. Ltd.,3-7 Yrs,Noida(Sector-63 Noida)\n(WFH during Covid)
4,Full Stack Developer,I3CLogic Technologies Pvt Ltd,4-9 Yrs,Noida(Sector-62 Noida)\n(WFH during Covid)
5,Senior/Principal Full stack Developer -Core Ba...,Oracle,5-10 Yrs,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)\..."
6,Senior Java Developer_1221,Opalina Technologies Pvt Ltd,5-10 Yrs,Noida(Sector-63 Noida)\n(WFH during Covid)
7,Full stack Developer -Banking,Oracle,6-11 Yrs,"Pune, Chennai, Bangalore/Bengaluru, Mumbai (Al..."
8,Java Developer,Tech Mahindra,1-2 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
9,Software Developer (Show Systems),DNEG INDIA MEDIA SERVICES LIMITED,2-6 Yrs,"Chennai, Bangalore/Bengaluru, Mumbai (All Area..."

Question: 4

In [113]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [114]:
#Cancelling the login popup that appears.
cancel = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cancel.click()

In [115]:
search_product = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_product.send_keys('Sunglasses')

In [116]:
search_click = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_click.click()

time.sleep(3)

In [118]:
# Extracting Data from Page1
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]

In [119]:
brand_name1 = []

for i in brand:
    brand_name1.append(i.text)
    
len(brand_name1)

40

In [120]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:40]
description1 = []

for i in pd:
    description1.append(i.text)
    
len(description1)

40

In [121]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]
price1 = []

for i in price:
    price1.append(i.text)
    
len(price1)

40

In [122]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]
discount1 = []

for i in dis:
    discount1.append(i.text)
    
len(discount1)

40

In [123]:
# Moving to Next Page i.e. Page2
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
next_pg.click()

In [124]:
#Extracting Data from Page2
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]

brand_name2 = []

for i in brand:
    brand_name2.append(i.text)
    
len(brand_name2)

40

In [125]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:40]

description2 = []

for i in pd:
    description2.append(i.text)
    
len(description2)

40

In [126]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]

price2 = []

for i in price:
    price2.append(i.text)
    
len(price2)

40

In [127]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]

discount2 = []

for i in dis:
    discount2.append(i.text)
    
len(discount2)

40

In [128]:
# Moving to Next Page i.e. Page3
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:20]

brand_name3 = []

for i in brand:
    brand_name3.append(i.text)
    
len(brand_name3)

20

In [129]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:20]

description3 = []

for i in pd:
    description3.append(i.text)
    
len(description3)

20

In [130]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:20]

price3 = []

for i in price:
    price3.append(i.text)
    
len(price3)

20

In [131]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:20]

discount3 = []

for i in dis:
    discount3.append(i.text)
    
len(discount3)

20

In [132]:
# Adding all the lists together
brand_name = brand_name1 + brand_name2 + brand_name3
len(brand_name)

100

In [134]:
description = description1 + description2 + description3
len(description)

100

In [135]:
prices = price1 + price2 + price3
len(prices)

100

In [136]:
discount = discount1 + discount2 + discount3
len(discount)

100

In [137]:
# Making DataFrame
import pandas as pd

In [138]:
df = pd.DataFrame({'Brand Name':brand_name, 'Brand Description':description, 'Price':prices, 'Discount':discount})
df

,Brand Name,Brand Description,Price,Discount
0,Mi,Polarized Aviator Sunglasses (Free Size),₹649,45% off
1,Mi,Polarized Aviator Sunglasses (Free Size),₹649,45% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
3,SRPM,UV Protection Wayfarer Sunglasses (50),₹199,84% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699,30% off
...,...,...,...,...
95,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),₹259,80% off
96,ROYAL SON,"Polarized, UV Protection Sports Sunglasses (68)","₹1,039",58% off
97,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
98,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹341,82% off
99,Fastrack,UV Protection Wayfarer Sunglasses (54),₹629,30% off

Question: 5

In [139]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [140]:
all_review = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
all_review.click()

In [141]:
# Extracting Page1 data:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating1 = []

for i in rating:
    rating1.append(i.text)
    
len(rating1)

10

In [142]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary1 = []

for i in review:
    summary1.append(i.text)
    
len(summary1)

10

In [143]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr1 = []

for i in fullr:
    Fullr1.append(i.text)
    
len(Fullr1)

10

In [144]:
# Moving to page2 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [145]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating2 = []

for i in rating:
    rating2.append(i.text)
    
len(rating2)

10

In [146]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary2 = []

for i in review:
    summary2.append(i.text)
    
len(summary2)

10

In [147]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr2 = []

for i in fullr:
    Fullr2.append(i.text)
    
len(Fullr2)

10

In [148]:
# Moving to page3 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [149]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating3 = []

for i in rating:
    rating3.append(i.text)
    
len(rating3)

10

In [150]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary3 = []

for i in review:
    summary3.append(i.text)
    
len(summary3)

10

In [151]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr3 = []

for i in fullr:
    Fullr3.append(i.text)
    
len(Fullr3)

10

In [152]:
# Moving to page4 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [153]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating4 = []

for i in rating:
    rating4.append(i.text)
    
len(rating4)

10

In [154]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary4 = []

for i in review:
    summary4.append(i.text)
    
len(summary4)

10

In [155]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr4 = []

for i in fullr:
    Fullr4.append(i.text)
    
len(Fullr4)

10

In [156]:
# Moving to page5 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [186]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating5 = []

for i in rating:
    rating5.append(i.text)
    
len(rating5)

10

In [159]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary5 = []

for i in review:
    summary5.append(i.text)
    
len(summary5)

10

In [160]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr5 = []

for i in fullr:
    Fullr5.append(i.text)
    
len(Fullr5)

10

In [161]:
# Moving to page6 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [162]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating6 = []

for i in rating:
    rating6.append(i.text)
    
len(rating6)

10

In [163]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary6 = []

for i in review:
    summary6.append(i.text)
    
len(summary6)

10

In [164]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr6 = []

for i in fullr:
    Fullr6.append(i.text)
    
len(Fullr6)

10

In [165]:
# Moving to page7 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [166]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating7 = []

for i in rating:
    rating7.append(i.text)
    
len(rating7)

10

In [167]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary7 = []

for i in review:
    summary7.append(i.text)
    
len(summary7)

10

In [168]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr7 = []

for i in fullr:
    Fullr7.append(i.text)
    
len(Fullr7)

10

In [169]:
# Moving to page 8 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [170]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating8 = []

for i in rating:
    rating8.append(i.text)
    
len(rating8)

10

In [171]:

review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary8 = []

for i in review:
    summary8.append(i.text)
    
len(summary8)

10

In [172]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr8 = []

for i in fullr:
    Fullr8.append(i.text)
    
len(Fullr8)

10

In [173]:
# Moving to page 9 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [185]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating9 = []

for i in rating:
    rating9.append(i.text)

len(rating9)

10

In [176]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary9 = []

for i in review:
    summary9.append(i.text)
    
len(summary9)

10

In [177]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr9 = []

for i in fullr:
    Fullr9.append(i.text)
    
len(Fullr9)

10

In [178]:
# Moving to page10 data:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [179]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating10 = []

for i in rating:
    rating10.append(i.text)
    
len(rating10)

10

In [180]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary10 = []

for i in review:
    summary10.append(i.text)
    
len(summary10)

10

In [181]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr10 = []

for i in fullr:
    Fullr10.append(i.text)
    
len(Fullr10)

10

In [187]:
# Adding All Lists together:
Rating = rating1 + rating2 + rating3+ rating4 + rating5 + rating6 + rating7 + rating8 + rating9 + rating10
len(Rating)

100

In [183]:
Review = summary1 + summary2 + summary3 + summary4 + summary5 + summary6 + summary7 + summary8 + summary9 + summary10
len(Review)

100

In [184]:

Full_Review = Fullr1 + Fullr2 + Fullr3 + Fullr4 + Fullr5 + Fullr6 + Fullr7 + Fullr8 + Fullr9 + Fullr10
len(Full_Review)

100

In [188]:
# Making DataFrame
import pandas as pd
iphone = pd.DataFrame({'Ratings':Rating, 'Review summary':Review, 'Review Description':Full_Review})
iphone

,Ratings,Review summary,Review Description
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Best in the market!,Great iPhone very snappy experience as apple k...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
96,5,Super!,This is my first ever iPhone.\nAnd I truly don...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Best in the market!,Don’t expect much from front camera… especiall...
99,5,Wonderful,Nice value for money good and best price I pho...

Question.6

In [189]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [190]:
search_product = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_product.send_keys('Sneakers')

In [193]:
search_click = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_click.click()

time.sleep(3)

In [194]:
#Extracting Page1 data:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]

brand_name1 = []

for i in brand:
    brand_name1.append(i.text)
    
len(brand_name1)

40

In [228]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

description1 = []

for i in pd:
    description1.append(i.text)
   
len(description1)

35

In [197]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]

price1 = []

for i in price:
    price1.append(i.text)
    
len(price1)

40

In [198]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]

discount1 = []

for i in dis:
    discount1.append(i.text)
    
len(discount1)

40

In [199]:
# Moving to Page2:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [232]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:32]

brand_name2 = []

for i in brand:
    brand_name2.append(i.text)
    
len(brand_name2)

32

In [210]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

description2 = []

for i in pd:
    description2.append(i.text)
    
len(description2)

37

In [231]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:32]

price2 = []

for i in price:
    price2.append(i.text)
    
len(price2)

32

In [230]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:32]

discount2 = []
for i in dis:
    discount2.append(i.text)
    
len(discount2)

32

In [211]:
# Moving to Page3:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [212]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:20]

brand_name3 = []

for i in brand:
    brand_name3.append(i.text)
    
len(brand_name3)

20

In [213]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:20]

description3 = []

for i in pd:
    description3.append(i.text)
    
len(description3)

20

In [214]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:20]

price3 = []

for i in price:
    price3.append(i.text)
    
len(price3)

20

In [216]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:20]

discount3 = []

for i in dis:
    discount3.append(i.text)
    
len(discount3)

20

In [233]:
brand_name = brand_name1 + brand_name2 + brand_name3
len(brand_name)

92

In [229]:
description = description1 + description2 + description3
len(description)

92

In [234]:
prices = price1 + price2 + price3
len(prices)

92

In [235]:
discount = discount1 + discount2 + discount3
len(discount)

92

In [236]:
import pandas as pd
# Making DataFrame
df = pd.DataFrame({'Brand Name':brand_name, 'Price':prices, 'Discount':discount})
df

      Brand Name   Price Discount
0         Layasa    ₹399  60% off
1          BIRDE    ₹299  70% off
2       Magnolia    ₹374  62% off
3   Robbie jones    ₹399  60% off
4         BRUTON    ₹283  78% off
..           ...     ...      ...
87         BIRDE    ₹356  64% off
88        ADIDAS  ₹1,440  68% off
89   Rising Wolf    ₹458  77% off
90         WROGN    ₹991  68% off
91          FILA    ₹919  58% off

[92 rows x 3 columns]

Question:7

In [237]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [238]:
#Setting Price Filter
price_filter = driver.find_element_by_xpath('//ul[@class="price-list"]//li[2]')
price_filter.click()

In [239]:
#Setting Color Filter
color_filter = driver.find_element_by_xpath('//li[@class="colour-listItem"]//span[2]')
color_filter.click()

In [240]:
# Extracting Page1 data:
brand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

brand_name = []

for i in brand:
    brand_name.append(i.text)
    
len(brand_name)

50

In [241]:
desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')

description = []

for i in desc:
    description.append(i.text)
    
len(description)

50

In [242]:
price = driver.find_elements_by_xpath('//div[@class="product-price"]')

prices = []

for i in price:
    prices.append(i.text)
    
len(prices)

50

In [243]:
# Moving to Page2:
next_page = driver.find_element_by_xpath('//li[@class="pagination-next"]')
next_page.click()

In [244]:
brand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

brand_name1 = []

for i in brand:
    brand_name1.append(i.text)
    
len(brand_name1)

50

In [245]:
desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')

description1 = []

for i in desc:
    description1.append(i.text)
    
len(description1)

50

In [246]:
price = driver.find_elements_by_xpath('//div[@class="product-price"]')

prices1 = []

for i in price:
    prices1.append(i.text)
    
len(prices1)

50

In [247]:
Brand = brand_name + brand_name1
len(Brand)

100

In [248]:
Description = description + description1
len(Description)

100

In [249]:
Price = prices + prices1
len(Price)

100

In [250]:
import pandas as pd
Shoes = pd.DataFrame({'Brand' : Brand, 'Description' : Description, 'Prices' : Price})
Shoes

,Brand,Description,Prices
0,UNDER ARMOUR,Men UA Charged Breeze Training,Rs. 8999
1,Nike,Women Pegasus 39 Running Shoes,Rs. 10495
2,Puma,Men Velocity Nitro 2 Running,Rs. 10999
3,UNDER ARMOUR,Men UA Charged Vantage 2 Run,Rs. 7999
4,UNDER ARMOUR,Men Charged Rouge 3 Run Shoes,Rs. 7999
...,...,...,...
95,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
96,Geox,Men Leather Formal Slip-Ons,Rs. 8991Rs. 9990(10% OFF)
97,Clarks,Men Solid Formal Leather Derbys,Rs. 9999
98,J.FONTINI,Men Solid Loafers,Rs. 8990
99,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990

Question: 8

In [294]:
url = 'https://www.amazon.in/'
driver.get(url)

In [295]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")
search_bar.send_keys('Laptop')

In [296]:
search_button = driver.find_element_by_id("nav-search-submit-button")
search_button.click()

time.sleep(3)

In [297]:
filter1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/span')

filter1.click()

In [298]:
title = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')[:10]

Title = []

for i in title:
    Title.append(i.text)
    
len(Title)

10

In [299]:
price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')[:10]

Price = []

for i in price:
    Price.append(i.text)
    
len(Price)

10

In [300]:
url = []

link = driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')[:10]

for i in link:
    url.append(i.get_attribute('href'))
    
url

['https://www.amazon.in/Acer-Predator-Graphics-Keyboard-PH517-52/dp/B09W99QWTD/ref=sr_1_1?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-1',
 'https://www.amazon.in/ASUS-i9-12900H-Graphics-Gaming-G533ZW-LN136WS/dp/B09X5ND3MF/ref=sr_1_2?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-2',
 'https://www.amazon.in/15-6inch-i9-10885H-Graphics-Warranty-D560233WIN9B/dp/B08HYPJDLD/ref=sr_1_3?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-3',
 'https://www.amazon.in/ASUS-Zephyrus-i9-11900H-RTX-3080-GX703HS-KF058TS/dp/B09LVPJV2Z/ref=sr_1_4?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-4',
 'https://www.amazon.in/Acer-Predator-i9-11900H-39-62cms-PH315-54/dp/B09STHPNT9/ref=sr_1_5?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-5',
 'https://www.amazon.in/ASUS-15-6-inch-i9-12900H-Office-2021-G533ZW-LN106WS/dp/B09TPHM8WK/ref=sr_1_6?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-6',
 'https://www.amazon.in/ASUS-i9-12900H-Graphics-Gaming-G733ZW-LL139WS/dp/B09X5HYQQ7/ref=sr_1_7?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-7',
 'https://www.amazon.in/ASUS-Zephyrus-i9-12900H-Graphics-GU603ZX-K8024WS/dp/B0B2YZVL35/ref=sr_1_8?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-8',
 'https://www.amazon.in/HP-GeForce-Graphics-15-ep1087TX-Natural/dp/B09VGTJJ2C/ref=sr_1_9?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-9',
 'https://www.amazon.in/Lenovo-Legion-Windows-Graphics-81YU006HIN/dp/B08GG9RZJC/ref=sr_1_10?crid=1YHAKQL3066XT&keywords=Laptop&qid=1655311599&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C575&sr=1-10']

In [301]:
Ratings = []

In [318]:
for i in url:
    try:
        driver.get(i)
        R = driver.find_element_by_xpath('//span[@class="a-size-base a-"]')
        R1=[]
        R1.append(R.text.replace('o',' '))
        for k in range(0,len(R1)):
            Ratings.append(R1[k][:3])
    
    except NoSuchElementException:
        N = ['No Ratings']
        for i in N:
            Ratings.append(i)
        pass

NameError: name 'NoSuchElementException' is not defined

In [ ]:
Ratings

In [ ]:
import pandas as pd
laptop = pd.DataFrame({'Title' : Title, 'Rating' : Ratings, 'Price' : Price})
laptop

In [324]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [325]:
select_job = driver.find_element_by_xpath('//a[@class="link jobs"]')

select_job.click()

In [326]:
search_job = driver.find_element_by_xpath('//input[@class="input tt-input"]')
search_job.send_keys('Data Scientist')

In [327]:
search_bar = driver.find_element_by_xpath('//span[@class="ctas-btn-medium"]')
search_bar.click()

In [328]:
#Selecting Location Filter
loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
loc.click()

In [330]:
#Writing Noida in location
box = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
box.send_keys('Noida')

In [333]:
#Selecting Noida from dropdown
select = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select.click()

time.sleep(3)

In [334]:
# Extracting Required Data
name = driver.find_elements_by_xpath('//p[@class="company body-medium"]')[:10]

Name = []

for i in name:
    Name.append(i.text)
    
Name

['GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Hcl Technologies Limited',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'Paytm',
 'Om Software Internet Solutions Private Limited',
 'Paytm',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Ashkom Media India Private Limited']

In [335]:
rating = driver.find_elements_by_xpath('//span[@class="body-small"]')[:10]

Rating = []

for i in rating:
    Rating.append(i.text)
    
Rating

['4.0', '4.2', '4.0', '3.9', '3.9', '3.7', '4.5', '3.7', '3.3', '3.5']

In [336]:
days = driver.find_elements_by_xpath('//span[@class="body-small-l"][1]')[:10]

Days = []

for i in days:
    Days.append(i.text)
    
Days

['5d ago',
 '13d ago',
 '12d ago',
 '15d ago',
 '26d ago',
 '8d ago',
 '16d ago',
 '26d ago',
 '13d ago',
 '12d ago']

In [337]:
import pandas as pd
Jobs = pd.DataFrame({'Company Name' : Name, 'Rating' : Rating, 'Job Posted' : Days})
Jobs

                                     Company Name Rating Job Posted
0                   GENPACT India Private Limited    4.0     5d ago
1  Optum Global Solutions (India) Private Limited    4.2    13d ago
2                   GENPACT India Private Limited    4.0    12d ago
3                        Hcl Technologies Limited    3.9    15d ago
4                EXL Services.com ( I ) Pvt. Ltd.    3.9    26d ago
5                                           Paytm    3.7     8d ago
6  Om Software Internet Solutions Private Limited    4.5    16d ago
7                                           Paytm    3.7    26d ago
8        MOTHERSONSUMI INFOTECH & DESIGNS LIMITED    3.3    13d ago
9              Ashkom Media India Private Limited    3.5    12d ago

Question 10

In [338]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [339]:
#Selecting Salary filter
select_salary = driver.find_element_by_xpath('//a[@class="link salaries"]')

select_salary.click()

In [340]:
search_job = driver.find_element_by_xpath('//input[@class="tt-input"]')
search_job.send_keys('Data Scientist')

In [341]:
select = driver.find_element_by_xpath('//p[@class="tt_text"]')
select.click()

time.sleep(3)

In [342]:
company = driver.find_elements_by_xpath('//div[@class="name"]')

Company = []

for i in company:
    Company.append(i.text.replace('\n',' '))
    
Company

['Walmart based on 12 salaries',
 'Ab Inbev based on 33 salaries',
 'American Express based on 10 salaries',
 'ZS based on 15 salaries',
 'Optum based on 33 salaries',
 'Reliance Jio based on 21 salaries',
 'Fractal Analytics based on 83 salaries',
 'Tiger Analytics based on 50 salaries',
 'UnitedHealth based on 57 salaries',
 'EXL Service based on 10 salaries']

In [343]:
minimum = driver.find_elements_by_xpath('//div[@class="value body-medium"][1]')

Minimum = []

for i in minimum:
    Minimum.append(i.text)
    
Minimum

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 14.1L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 8.9L']

In [344]:
maximum = driver.find_elements_by_xpath('//div[@class="value body-medium"][2]')

Maximum = []

for i in maximum:
    Maximum.append(i.text)
    
Maximum

['₹ 36.0L',
 '₹ 25.5L',
 '₹ 25.0L',
 '₹ 22.0L',
 '₹ 22.6L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L']

In [345]:
avg = driver.find_elements_by_xpath('//p[@class="averageCtc"]')

Avg = []

for i in avg:
    Avg.append(i.text)
    
Avg

['₹ 30.2L',
 '₹ 20.6L',
 '₹ 19.9L',
 '₹ 16.7L',
 '₹ 16.1L',
 '₹ 15.7L',
 '₹ 15.4L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.3L']

In [346]:
exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

Exp = []

for i in exp:
    Exp.append(i.text.replace('\n', ' '))
    
Exp

['Data Scientist  .  3 yrs exp',
 'Data Scientist  .  3-4 yrs exp',
 'Data Scientist  .  4 yrs exp',
 'Data Scientist  .  2 yrs exp',
 'Data Scientist  .  3-4 yrs exp',
 'Data Scientist  .  3-4 yrs exp',
 'Data Scientist  .  2-4 yrs exp',
 'Data Scientist  .  2-4 yrs exp',
 'Data Scientist  .  2-4 yrs exp',
 'Data Scientist  .  4 yrs exp']

In [347]:
import pandas as pd

In [348]:
Salary_Range = pd.DataFrame({'Min_Salary':Minimum, 'Max_Salary':Maximum, 'Company':Company, 'Avg_Salary':Avg, 'Role and Experience':Exp})
Salary_Range

,Min_Salary,Max_Salary,Company,Avg_Salary,Role and Experience
0,₹ 25.0L,₹ 36.0L,Walmart based on 12 salaries,₹ 30.2L,Data Scientist . 3 yrs exp
1,₹ 15.0L,₹ 25.5L,Ab Inbev based on 33 salaries,₹ 20.6L,Data Scientist . 3-4 yrs exp
2,₹ 14.1L,₹ 25.0L,American Express based on 10 salaries,₹ 19.9L,Data Scientist . 4 yrs exp
3,₹ 11.0L,₹ 22.0L,ZS based on 15 salaries,₹ 16.7L,Data Scientist . 2 yrs exp
4,₹ 11.0L,₹ 22.6L,Optum based on 33 salaries,₹ 16.1L,Data Scientist . 3-4 yrs exp
5,₹ 5.6L,₹ 26.2L,Reliance Jio based on 21 salaries,₹ 15.7L,Data Scientist . 3-4 yrs exp
6,₹ 10.0L,₹ 22.0L,Fractal Analytics based on 83 salaries,₹ 15.4L,Data Scientist . 2-4 yrs exp
7,₹ 9.0L,₹ 20.0L,Tiger Analytics based on 50 salaries,₹ 14.8L,Data Scientist . 2-4 yrs exp
8,₹ 8.3L,₹ 21.1L,UnitedHealth based on 57 salaries,₹ 14.0L,Data Scientist . 2-4 yrs exp
9,₹ 8.9L,₹ 21.0L,EXL Service based on 10 salaries,₹ 13.3L,Data Scientist . 4 yrs exp